{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in bought %}
        <tr>
            <td> {{ row.symbol}}</td>
            <td> {{ row.company}}</td>
            <td> {{ row.shares}}</td>
            <td> {{ usd(row.price)}}</td>
            <td> {{ usd(row.shares * row.price)}}</td>
        <tr>
        {% endfor %}

        <tr>
            <td>Cash</td>
            <td colspan="3"></td>
            <td>{{cash}}</td>
        </tr>
    </tbody>
    <tfoot>
        <td colspan="4"></td>
        <td><b>{{total}}</b></td>
    </tfoot>
</table>
{% endblock %}
